{% extends 'base.html' %}
{% block title %}
    KIPM - Online Examination System
{% endblock %}
{% load static %}
{% block head %}

    <style>
     body {
            background-image: url("http://mba.kipm.edu.in/images/slider/1.jpg");
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            backdrop-filter: blur(12px);
        }
        .section-title {
            position: relative
        }

        .section-title p {
            font-size: 16px;
            margin-bottom: 5px;
            font-weight: 400;
        }

        .section-title h4 {
            font-size: 40px;
            font-weight: 600;
            text-transform: capitalize;
            position: relative;
            padding-bottom: 20px;
            display: inline-block
        }

        .section-title h4:before {
            position: absolute;
            content: "";
            width: 80px;
            height: 2px;
            background-color: #d8d8d8;
            bottom: 0;
            left: 50%;
            margin-left: -40px;
        }

        .section-title h4:after {
            position: absolute;
            content: "";
            width: 50px;
            height: 2px;
            background-color: #212529;
            left: 0;
            bottom: 0;
            left: 50%;
            margin-left: -25px;
        }

        .pt-100 {
            padding-top: 100px;
        }

        .pb-100 {
            padding-bottom: 100px;
        }

        .mb-100 {
            margin-bottom: 100px;
        }

        .services {
            background-color: transparent;
        }

        .single-service {
            color: white;
            position: relative;
            text-align: center;
            margin-bottom: 50px;
            -webkit-transition: .3s;
            transition: .3s;
            padding: 30px 20px;
            background-color: rgba(0, 0, 0, 0.2);;
            box-shadow: 0 1px 4px rgba(0, 0, 0, 0.16)
        }

        .single-service:before {
            position: absolute;
            width: 0;
            height: 0;
            left: 0;
            top: 0;
            content: "";
            -webkit-transition: .3s;
            transition: .3s
        }

        .single-service:after {
            position: absolute;
            width: 0;
            height: 0;
            rgba(0, 0, 0, 0.3);
            right: 0;
            bottom: 0;
            content: "";
            -webkit-transition: .3s;
            transition: .3s
        }

        .single-service:hover:after,
        .single-service:hover:before {
            width: 50%;
            height: 2px;
            -webkit-transition: .3s;
            transition: .3s
        }

        .single-service:hover {
            box-shadow: 1px 3px 10px 0 rgba(0, 0, 0, 0.10)
        }

        .single-service i.fa {
            font-size: 20px;
            width: 60px;
            height: 60px;
            border: 1px solid #ddd;
            line-height: 60px;
            margin-bottom: 30px;
            border-radius: 50%;
            -webkit-transition: .3s;
            transition: .3s
        }

        .single-service:hover i.fa {
            background-color: #212529;
            color: #fff;
            border-color: whitesmoke;
            border-radius: 0;
        }

        .single-service h4 {
            font-size: 20px;
            font-weight: 400;
            margin-bottom: 15px;
            text-transform: capitalize;
        }

        .single-service p {
            font-size: 15px;
            line-height: 1.8;
        }

    </style>
{% endblock %}
{% block body %}
     <section class="services pt-100 pb-50" id="services">
         <div class="container">
            <div class="row">
               <div class="col-xl-6 mx-auto text-center">
                  <div class="section-title mb-100">
                     <h4>KIPM : Online Examination System</h4>
                  </div>
               </div>
            </div>
            <div class="row">
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <a href="{% if request.user.is_authenticated and user.username != 'admin' %} {% url 'student:dashboard' request.user %}
                        {% else %}{% url 'student:login' %}{% endif %}" class="card-link text-black-50">
                      <div class="single-service">
                     <img src="{% static 'image/student-1.png' %}" style="width: 20%; margin-bottom: 30px">
                     <h4>Student </h4>
                     <p>Student Login Panel</p>
                  </div>
                  </a>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <a href="{% url 'faculty:login' %}" class="text-black-50 card-link">
                      <div class="single-service">
                     <img src="{% static 'image/faculty.png' %}" style="width: 20%; margin-bottom: 30px">
                     <h4>Faculty</h4>
                     <p>Click here to login into Faculty Portal </p>
                  </div>
                  </a>
               </div>
               <div class="col-lg-4 col-md-6">
                  <!-- Single Service -->
                  <a href="/admin" class="text-black-50 card-link">
                      <div class="single-service">
                     <i class="fa fa-lock"></i>
                     <h4>Admin</h4>
                     <p>Admin Panel</p>
                  </div>
                  </a>
               </div>
            </div>
         </div>
      </section>
{% endblock %}